<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificando idade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="big-light">
    
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">

                <div class="card shadow">
                    <h2>Verificação de idade</h2>
                </div>

                <div class="card-body">
                    <form method="POST">

                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">
                                Informe sua idade
                            </label>
                            <input type="number" class="form-control" name="idade" min="0" required>
                        </div>

                        <button class="btn btn-primary w-100">Verificar</button>

                    </form>

                    {% if conteudo %}
                    <div class="alert alert-success mt-4">
                        <h4>Acesso permitido</h4>
                    </div>
                    <hr>
                    <h5>Conteúdo Exclusivo</h5>
                    <p>Bem-vindo!</p>
                
                </div>

            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>